/* reset browser styles */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  	display: block;
	vertical-align: baseline;
}
* {
  box-sizing: border-box;
}
/*end reset*/

  .wrapper {
    height: 100%;
    overflow: auto;
    background-color: #fff;
    border-radius: 0 0 15px 15px;
  }

body {
	 width: 80%;
   margin: 0 auto;
  font-family: 'Oxygen Mono' ;
  border-radius: 0 0 15px 15px;
  -webkit-animation: bugfix infinite 1s;/* Advanced Checkbox Hack */
  -webkit-box-shadow: 0px 0px 20px -4px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 20px -4px rgba(0,0,0,1);
  box-shadow: 0px 0px 20px -4px rgba(0,0,0,1);
}
body::after {
	content: "";
	background-color: rgba(53,112,70,.9);
	opacity: 0.05;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;   
}
/*start navbar*/
nav[role="custom-dropdown"] label {
  width: 100%;
}
nav[role="custom-dropdown"] ul {
    display: none;
  }
  nav[role="custom-dropdown"] label {
    font: .8rem "Oxygen Mono";
    position: relative;
    display: block;
    width: 100%;
    min-height: 2.25em;
    padding: .45em;
    font-size: 1.1em;
    margin: 0;
    border: 0.15em solid rgba(60, 60, 60, 0.2);
    background-color: rgba(53, 112, 70, 0.8);
  }
  nav[role="custom-dropdown"] label:after {
    position: absolute;
    right: .25em;
    top: 0;
    content: "\2261";
    font-size: 1.8em;
  }
  nav[role="custom-dropdown"] a,
nav[role="custom-dropdown"] label {
  color: #fff;

padding: 8px;
  text-decoration: none;
  font: 1rem "Oxygen Mono";
  transition: color .3s ease-in-out;
}
  nav[role="custom-dropdown"] input[type=checkbox]:checked ~ label:after {
    color: #fff;
  }
  nav[role="custom-dropdown"] input[type=checkbox]:checked ~ ul {
    display: block;
  }
  nav[role="custom-dropdown"] input[type=checkbox]:checked ~ ul > li {
    width: 100%;
    opacity: .8;
    text-align: left;
    background-color: rgba(53, 112, 70, 0.8);
  }
  nav[role="custom-dropdown"] input[type=checkbox]:checked ~ ul > li:after {
    position: absolute;
    right: .25em;
    content: "\203A";
    font: bold 1.4em sans-serif;
  }
  @-webkit-keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}
input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
  /*end navbar*/

/*start header*/
 .publicHeader {
    display: inline-block;
    background-image: url(../img/header1.jpg);
    height: 177px;
    width: 100% ;
    background-size: 100% 100%;
  }
  .publicHeader h1 {
    font-family: 'Vidaloka', serif;
    font-size: 45px;
    color: white;
    padding: 40px 40px 25px 40px;
    display:inline-block;
  }
  .nav-admin-login {
  color: white;
  float: right;
  background-color: rgb(53,112,70);
  padding: 5px;
  text-align: right;
  width: 100%;
  display: block;
}
.nav-admin-login p {
  float: left;
  margin: 10px 0 0 20px;
}

/*main content*/
.error {
    color: red;
    margin: 5px;
  }
.main-content {
  padding: 10px;
  margin-top: 40px;
}
.main-content h2, .product-page h2 {
  color: rgb(232,155,93);
  font-size: 1.5rem;
}
.g-recaptcha {
  margin-bottom: 10px;
}

 .animation {
    display: inline-block;
    width: 30%;
    height: 300px;
    box-xizing: border-box;
    text-align: center;
    padding: 10px;
    vertical-align: text-top;
  }
/*index page*/
 .about {
  display: block;
  width: 100%;
  height: 200px;
  box-xizing: border-box;
  text-align: center;
  vertical-align: text-top;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.animation p {
  font-size: .8em ;
}
.animation h2 {
  font-size: 1.3em;
}
.text1, .text2, .text3 {
  animation-name: textMove;
  animation-duration: 1s;
  border: 1px solid black;
  border-radius: 8px;

}
@keyframes textMove {
  from{
    transform: scale(.05);
  }
  to{
    transform: scale(1);
  }
}
.fish1 {
  width: 175px;
  height: 175px;
  background: url(../img/peeps.jpg) 0 0 ;
  margin: 10px;
  display: inline-block;
  border: 5px solid white;
  border-radius: 50%;
  box-shadow: 8px 8px 18px rgba(0,0,0,.5);
}
.fish2 {
  width: 175px;
  height: 175px;
  background: url(../img/peeps.jpg) 165px 0 ;
  margin: 10px;
  display: inline-block;
  border: 5px solid white;
  border-radius: 50%;
  box-shadow: 8px 8px 18px rgba(0,0,0,.5);
}
.fish3 {
  width: 175px;
  height: 175px;
  background: url(../img/peeps.jpg) 165px 185px ;
  margin: 10px;
  display: inline-block;
  border: 5px solid white;
  border-radius: 50%;
  box-shadow: 8px 8px 18px rgba(0,0,0,.5);
}
.noShow {
  display: none;
}
.half {
  text-align: center;
}
.slider1 {
  width: 100%;
  padding: 20px;
 background-color: rgba(221,245,196,.8);
  /*background-color: rgba(156,155,122,.5);*/
}
.slider2 {
  width: 100%;
  padding: 20px;
  background-color: rgba(191,216,175,.8);
  /*background-color: rgba(255,211,147,.5);*/
}
.slider3 {
  width: 100%;
  padding: 20px;
  background-color: rgba(217,183,146,.6);
  /*background-color: rgba(255,151,79,.5);*/

}
.slider3 a {
  pointer-events:none;
  text-decoration: none;
  color: black;
}

#map {
  width:  100%;
  height:   400px;
}

.button {
  background-color: #7CBC91;
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 2px;
}
.button:hover {
  background-color: #BFD8AF;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.button-delete {
  background-color: #7CBC91;
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  list-style-type: none;
}
.button-delete:hover {
  background-color: red;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
/*end index.php*/

/*start login*/
  .formInput {
    border-radius: 5px;
    background-color: rgba(237,245,238,.8);
    padding: 40px;
    width: 100%;
  }
.formInput li {
  list-style-type: none;
  border: 1px solid rgba(0,0,0,.8);
  margin: 2px ;
}
label {
  cursor: pointer;
  user-select: none;
}
input[type=text],  input[type=password], select, textarea {
   -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=text]:focus, input[type=password]:focus select:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
 
  border: 1px solid rgba(81, 203, 238, 1);
}

/*start products*/
  .prod {
    float: left;
    width: 100%;
    height: 100%;
    margin: 10px;   
  }
  .prod a {
    margin: 5px;
    text-transform: capitalize;
  }
  .prod a:link, .prod a:visited {
    background-color: #7cbc91;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    list-style-type: none;
    min-width: 200px;
    text-transform: capitalize;
  }
  .prod a:hover, .prod a:active {
    background-color: #BFD8AF;
    text-transform: capitalize;
  }
  .prod li {
    list-style-type: none;
  }
  .prod-nav {
    background-color: blue;
    width: 20%;
    float: left;
  }
  .prod-prod {
    background-color: navy;
    float: right;
    width: 78%;
  }
  .product-page {
    overflow: auto;
    padding: 15px;
    background-color: #fff;
    margin-bottom: 100px;
  }
  .product-page h2 {
    margin-left: 15px;
    text-transform: capitalize;
  }
  .adminTable1 {
    width: 100%;
  } 
  .admintable1  td {
    text-align: right;
    text-transform: capitalize;
  }
  td {
    padding: 3px;
    text-align: center;
    text-transform: capitalize;
  }

  /*start table */
  table, thead, tbody, th, td, tr { 
    display: block; 
    text-transform: capitalize;
  }
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr {
    border: 1px solid #ccc;
  }
  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    text-transform: capitalize;
  }
  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  table img {
    margin: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.38);
    -moz-box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.38);
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.45);
  }

   /*Label the table data*/
  td:nth-of-type(1):before { 
    content: "Quantity";
    text-align: left; 
  }
  td:nth-of-type(2):before { 
    content: "Description";
    text-align: left;
  }
  td:nth-of-type(3):before { 
    content: "Price"; 
    text-align: left;
  }
  td:nth-of-type(4):before { 
    content: "Image"; 
    text-align: left;
  }

  .mediumAddCategory:nth-of-type(1):before {
    content: "Package";
    text-align: left;
  }
  .mediumPrice:nth-of-type(2):before {
    content: "Price";
    text-align: left;
  }
  .mediumDelete:nth-of-type(3):before {
    content: " ";
  }
  .mediumCode:nth-of-type(1):before {
    content: "Product Code";
    text-align: left;
  }
  .mediumQuantity:nth-of-type(2):before {
    content: "Quantity";
    text-align: left;
  }
  .mediumDescription:nth-of-type(3):before {
    content: "Name";
    text-align: left;
  }
  .mediumPrice:nth-of-type(4):before {
    content: "Price";
    text-align: left;
  }
  .mediumImage:nth-of-type(5):before {
    content: "Image";
    text-align: left;
  }
  .mediumAltText:nth-of-type(6):before {
    content: "Alt Text";
    text-align: left;
  }
  .mediumPackage:nth-of-type(1):before {
    content: "Package";
    text-align: left;
  }
  .mediumPrice:nth-of-type(2):before {
    content: "Price";
    text-align: left;
  }
  .mediumDiscount:nth-of-type(3):before {
    content: "Discount";
    text-align: left;
  }
  .mediumYourP:nth-of-type(4):before {
    content: "Your Price";
    text-align: left;
  }
  .mediumQuantity:nth-of-type(5):before {
    content: "Quantity";
    text-align: left;
  }
  .mediumSubtotal:nth-of-type(6):before {
    content: "Subtotal";
    text-align: left;
  }
  .comFirst:nth-of-type(1):before {
    content: "User Name";
    text-align: left;
  }
  .comText:nth-of-type(2):before {
    content: "Comment";
    text-align: left;
  }
  .blank:nth-of-type(3):before {
    content: " ";
  }

  /*footer*/
footer {
  padding: 20px;
  vertical-align: text-top;
  width: 100%;
  overflow: auto;
  background-color: rgba(217,183,146,.8);
}
footer h4 {
  font-size: .75em;
  width: 100%;
}
footer p {
  font-size: .8em;
}
.footer1 {
  float: left;
  width: 32%;
  vertical-align: text-top;
}
.footer2 {
  float: left;
  display: inline-block;
  width: 32%;
  text-align: center;
}
.footer2 a, .footer3 a {
  font-size: 1em;
}
.footer3 {
  float: left;
  display: inline-block;
  width: 32%;
}
.attr {
  margin: 20px;
}
