/* reset browser styles */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  

}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
vertical-align: baseline;
}
/*end reset*/
.footer {
  padding: 20px;
vertical-align: text-top;

}
.footer h4 {
font-size: .75em;
}
.footer p {
  font-size: .5em;
}
.footer1 {
  float: left;
  width: 30%;
  vertical-align: text-top;
  min-width: 200px;
}
.footer2 {
  float: left;
  display: inline-block;
  width: 30%;
  min-width: 200px;
}
.footer3 {
  float: left;
  display: inline-block;
  width: 30%;
  min-width: 200px;
}
.main-content {
    padding: 10px;
    margin-bottom: 100px;
  }
.animation {
  display: inline-block;
  width: 32%;
  height: 200px;
  box-xizing: border-box;
  text-align: center;
  vertical-align: text-top;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  
}
.text1 {
  animation-name: textMove;
  animation-duration: 1s;
  border: 1px solid black;
  border-radius: 8px;

}
.text2 {
  animation-name: textMove;
  animation-duration: 2s;
  border: 1px solid black;
  border-radius: 8px;
}
.text3 {
  animation-name: textMove;
  animation-duration: 3s;
  border: 1px solid black;
  border-radius: 8px;
}
@keyframes textMove {
  from{
    transform: scale(.05);
  }
  to{
    transform: scale(1);
  }
}
.fish1 {
  width: 175px;
  height: 175px;
  background: url(../img/peeps.jpg) 0 0 ;
  margin: 10px;
  display: inline-block;
  border: 5px solid white;
  border-radius: 50%;
  box-shadow: 8px 8px 18px rgba(0,0,0,.5);
  animation-name: fishMove;
  animation-duration: .5s;
  /*position: fixed;*/

}
@keyframes /*fishMove*/ {
  from{ 
    transform: rotate(0) scale(.5);
    left: -100px;
  }
  to{ 
    transform: rotate(-720deg) scale(1);
    left: 0;
  }
}
.fish2 {
  width: 175px;
  height: 175px;
  background: url(../img/peeps.jpg) 165px 0 ;
  margin: 10px;
  display: inline-block;
  border: 5px solid white;
  border-radius: 50%;
  box-shadow: 8px 8px 18px rgba(0,0,0,.5);
  animation-name: fishMove;
  animation-duration: 2s;
}
.fish3 {
  width: 175px;
  height: 175px;
  background: url(../img/peeps.jpg) 165px 185px ;
  margin: 10px;
  display: inline-block;
  border: 5px solid white;
  border-radius: 50%;
  box-shadow: 8px 8px 18px rgba(0,0,0,.5);
  animation-name: fishMove;
  animation-duration: 4s;
}
.noShow {
  display: none;
}
.half {
  text-align: center;
}
.animation p {
  font-size: .8em ;
}
.animation h2 {
  font-size: 1.3em;
}

.current {
  border: 2px solid #000;
  background: orange;
}
.slider1 {
  width: 100%;
  background-color: rgba(156,155,122,.5);
  padding: 20px;
  overflow: auto;

}
.slider h2 {
  position: absolute;
  top: 10px;
}
.slider2 {
  width: 100%;
   padding: 20px;
  background-color: rgba(255,211,147,.5);
}
.slider3 {
  width: 100%;
  padding: 20px;
  background-color: rgba(255,151,79,.5);
  

}
.slider3 a {
  pointer-events:none;
  text-decoration: none;
  color: black;
}

#map {
  width:  100%;
  height:   400px;
}

.formInput li {
  list-style-type: none;
}

/*navbar styles*/
* {
  box-sizing: border-box;
}
h1 {
  display: block;
}
html,

nav[role="custom-dropdown"] label {
  width: 100%;
}
.nav-admin-login {
  color: white;
  float: right;
  background-color: gray;
  padding: 5px;
  text-align: right;
  max-width: 200px;
  font-size: 14px;
  
}
.add-category-form {
  padding: 3px;
}

body {
  font-family: 'Oxygen Mono' ;
  border-radius: 15px;
  -webkit-animation: bugfix infinite 1s;/* Advanced Checkbox Hack */
  -webkit-box-shadow: 0px 0px 20px -4px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 20px -4px rgba(0,0,0,1);
  box-shadow: 0px 0px 20px -4px rgba(0,0,0,1);
}

@-webkit-keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}
input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
input[type=text], input[type=password] {
  margin: 3px;
}
.button {
    background-color: #e9c09d;
    border: none;
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button:hover {
  background-color: #ba5f16;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.button-delete {
    background-color: #e9c09d;
    border: none;
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    list-style-type: none;

}

.button-delete:hover {
  background-color: red;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

label {
  
  cursor: pointer;
  user-select: none;
}

/* background for li / select */
/* custom-dropdown */
nav[role="custom-dropdown"] {
  position: relative;
  width: 100%;
}
nav[role="custom-dropdown"] li:active {
 background-color: orange;
}
nav[role="custom-dropdown"] a,
nav[role="custom-dropdown"] label {
  color: #ccc;

  text-decoration: none;
  font: 1.4em sans-serif;
  transition: color .3s ease-in-out;
}
nav[role="custom-dropdown"] ul {
  padding: 0;
  margin: 0 auto;
  width: 80%;
  list-style: none;
  display: inline-block;
  background-color: #000;
  position: fixed;
  
}
nav[role="custom-dropdown"] ul > li {
  /*background-color: tan;*/
  float: left;
  padding: 5px 20px;
  border-left: 1px solid #fff;
  text-align: center;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
  transition-property: box-shadow, color;
  box-shadow: 0 0.05em 0.25em 0 rgba(0, 0, 0, 0.35);
  cursor: pointer;
  font-size: 12px;
}
nav[role="custom-dropdown"] ul > li:hover {
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
  box-shadow: 0 0.05em 0.25em 0 rgba(0, 0, 0, 0.35), inset 0 0 0 2em rgba(0, 0, 0, 0.3);
}
nav[role="custom-dropdown"] ul > li:hover > a {
  color: #fff;

}
.error {
    color: red;
    margin: 5px;
  }
 input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .formInput {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 40px;
}

.main-content {
    padding: 10px;
    margin-bottom: 100px;
  }

/*start general styles/////////////////////////////////////*/

@media screen and ( min-width: 769px )  {
  

  .fish1 {
    width: 155px;
    height: 155px;
    background: url(../img/peeps.jpg) -10px 0 ;
    margin: 10px;
    display: inline-block;
    border: 5px solid white;
    border-radius: 50%;
    box-shadow: 8px 8px 18px rgba(0,0,0,.5);
  }
  .fish2 {
    width: 155px;
    height: 155px;
    background: url(../img/peeps.jpg) 165px 0 ;
    margin: 10px;
    display: inline-block;
    border: 5px solid white;
    border-radius: 50%;
    box-shadow: 8px 8px 18px rgba(0,0,0,.5);
  }
  .fish3 {
    width: 155px;
    height: 155px;
    background: url(../img/peeps.jpg) 165px 185px ;
    margin: 10px;
    display: inline-block;
    border: 5px solid white;
    border-radius: 50%;
    box-shadow: 8px 8px 18px rgba(0,0,0,.5);
  }
   input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .formInput {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 40px;
  }
  .main-content {
    padding: 10px;
    margin-bottom: 100px;
  }
  table img {
    margin: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.38);
    -moz-box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.38);
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.45);
  }
  td {
    padding: 3px;
  }
  body::after {
    content: "";
    background: url(../img/wood.jpg);
    opacity: 0.05;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }
  .wrapper {
    height: 100vh;
    overflow: auto;
    background-color: #fff;
    border-radius: 15px;
  }
  footer {
    position: absolute;
    bottom: 0;
    background-color: tan;
    width: 80%;
    border-radius: 0 0 15px 15px;
   
  }
  .publicHeader {
    display: inline-block;
    background-image: url(../img/wood.jpg);
    width: 100%;
    margin-top: 2.9vh;
  }
  .publicHeader h1 {
    font-family: 'Vidaloka', serif;
    font-size: 45px;
    color: white;
    padding: 40px;
  }
  body {
    width: 80%;
    margin: 0 auto;
  }
  .prod a {
    margin: 5px;
  }
  .prod a:link, .prod a:visited {
    background-color: #e9c09d;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    list-style-type: none;
  }
  .prod a:hover, .prod a:active {
    background-color: #ba5f16;
  }
  .prod li {
    list-style-type: none;
  }
  .prod-nav {
    background-color: blue;
    width: 20%;
    float: left;
  }
  .prod-prod {
    background-color: navy;
    float: right;
    width: 78%;
  }
  footer {
    clear: both;
  }
  .prod {
      float: left;
      width: 45%;
      height: 100%;
      margin: 10px;   
  }
  .product-page {
    overflow: auto;
    padding: 15px;
    background-color: #fff;
    margin-bottom: 100px;
  }
  .product-page h2 {
    margin-left: 15px;
  }
}

/*end general styles */
/*////////////////////////////////////////////////////////////////////*/
@media screen and ( min-width: 481px ) and ( max-width: 768px ) {
    .fish1 {
    width: 155px;
    height: 155px;
    background: url(../img/peeps.jpg) -30px 20px ;
    margin: 10px;
    display: inline-block;
    border: 5px solid white;
    border-radius: 50%;
    box-shadow: 8px 8px 18px rgba(0,0,0,.5);
  }
  .fish2 {
    width: 155px;
    height: 155px;
    background: url(../img/peeps.jpg) 165px 0 ;
    margin: 10px;
    display: inline-block;
    border: 5px solid white;
    border-radius: 50%;
    box-shadow: 8px 8px 18px rgba(0,0,0,.5);
  }
  .fish3 {
    width: 155px;
    height: 155px;
    background: url(../img/peeps.jpg) 165px 185px ;
    margin: 10px;
    display: inline-block;
    border: 5px solid white;
    border-radius: 50%;
    box-shadow: 8px 8px 18px rgba(0,0,0,.5);
  }

  .animation {
    min-height: 300px;
    max-height: 800px;
  }
  .slider1 {
  width: 100%;
  max-height: 1000px;
  background-color: rgba(156,155,122,.5);
  padding: 20px;
  overflow: auto;
}
.fish1 {
  width: 155px;
  height: 155px;
  background: url(../img/peeps.jpg) -10px 0 ;
  margin: 10px;
  display: inline-block;
  border: 5px solid white;
  border-radius: 50%;
  box-shadow: 8px 8px 18px rgba(0,0,0,.5);
}
.fish2 {
  width: 155px;
  height: 155px;
  background: url(../img/peeps.jpg) 165px 0 ;
  margin: 10px;
  display: inline-block;
  border: 5px solid white;
  border-radius: 50%;
  box-shadow: 8px 8px 18px rgba(0,0,0,.5);
}
.fish3 {
  width: 155px;
  height: 155px;
  background: url(../img/peeps.jpg) 165px 185px ;
  margin: 10px;
  display: inline-block;
border: 5px solid white;
  border-radius: 50%;
  box-shadow: 8px 8px 18px rgba(0,0,0,.5);
}
  .animation {
  display: inline-block;
  width: 30%;
  box-xizing: border-box;
  text-align: center;
  padding: 10px;
  vertical-align: text-top;
  /*border: 1px solid black;*/
  
}
  .main-content {
    padding: 10px;
    margin-bottom: 100px;
  }

   html,
  body {
    margin: 0;
    

  }

  .publicHeader {
    
    background-image: url(../img/wood.jpg);
    height: 75px;
  }
  .publicHeader h1 {
    font-family: 'Vidaloka', serif;
    font-size: 45px;
    color: white;
    padding: 20px;
    display: inline-block;
  }

  nav[role="custom-dropdown"] ul {
    display: none;
    /*height: 100%;*/
  }
  nav[role="custom-dropdown"] label {
    position: relative;
    display: block;
    width: 100%;
    min-height: 2.25em;
    padding: .45em;
    font-size: 1.1em;
    margin: 0;
    border: 0.15em solid rgba(60, 60, 60, 0.2);
    background-color: rgba(0, 0, 0, 0.85);
  }
  nav[role="custom-dropdown"] label:after {
    position: absolute;
    right: .25em;
    top: 0;
    content: "\2261";
    font-size: 1.8em;
  }
  nav[role="custom-dropdown"] input[type=checkbox]:checked ~ label:after {
    color: #fff;
  }
  nav[role="custom-dropdown"] input[type=checkbox]:checked ~ ul {
    display: block;
  }
  nav[role="custom-dropdown"] input[type=checkbox]:checked ~ ul > li {
    width: 100%;
    opacity: .8;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.85);
  }
  nav[role="custom-dropdown"] input[type=checkbox]:checked ~ ul > li:after {
    position: absolute;
    right: .25em;
    content: "\203A";
    font: bold 1.4em sans-serif;
  }

  footer {
    /*position: absolute;*/
    bottom: 0;
    background-color: tan;
    /*width: 80%;*/
    border-radius: 0 0 15px 15px;
    height: 100%;
  }

  .prod {
      
      width: 100%;
      height: 100%;
      margin: 0 auto;
       
  }

  .prod a {
    margin: 5px;

  }
  .prod a:link, .prod a:visited {
    background-color: #e9c09d;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    list-style-type: none;
  }

  .prod a:hover, .prod a:active {
      background-color: #ba5f16;
  }

  .prod li {
    list-style-type: none;
  }

    .product-page {
    overflow: auto;
    
    background-color: #fff;
    
  }
  .product-page h2 {
    margin-left: 15px;
  }

  /*start table */
  table, thead, tbody, th, td, tr { 
    display: block; 
    
   
  }
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr {
    border: 1px solid #ccc;
  }
  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }
  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  table img {
    margin: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.38);
    -moz-box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.38);
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.45);
  }
  /*
  Label the table data
  */
  td:nth-of-type(1):before { 
    content: "Quantity";
    text-align: left; 
  }
  td:nth-of-type(2):before { 
    content: "Description";
    text-align: left;
  }
  td:nth-of-type(3):before { 
    content: "Price"; 
    text-align: left;
  }
  td:nth-of-type(4):before { 
    content: "Image"; 
    text-align: left;
  }

  .adminTable1 td:nth-of-type(1):before  {
    content: "Quantity";
    text-align: left; 
  }
  .adminTable1 td:nth-of-type(2):before  {
    content: "Name";
    text-align: left; 
  }
  .adminTable1 td:nth-of-type(3):before  {
    content: "Price";
    text-align: left; 
  }
  .adminTable2 td:nth-of-type(1):before  {
    content: "ID";
    text-align: left; 
  }
  .adminTable2 td:nth-of-type(2):before  {
    content: "Quantity";
    text-align: left; 
  }
  .adminTable2 td:nth-of-type(3):before  {
    content: "Name";
    text-align: left; 
  }
  .adminTable2 td:nth-of-type(4):before  {
    content: "Price";
    text-align: left; 
  }
  .adminTable2 td:nth-of-type(5):before  {
    content: "Image";
    text-align: left; 
  }
  .adminTable2 td:nth-of-type(6):before  {
    content: "Image Alt Text";
    text-align: left; 
  }
  .adminTable2 td:nth-of-type(7):before  {
    content: " ";
    text-align: left; 
  }
} 

/*end medium*/

/*////////////////////////////////////////////////*/
/* small screens */
@media screen and (max-width: 480px) {
  .slider3 a {
    pointer-events: visible;
    text-decoration: none;

  }
  .slider3 a:link, .slider3 a:visited {
    background-color: #e9c09d;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    list-style-type: none;
    margin: 10px;
  }

  .slider3 a:hover, .slider3 a:active {
      background-color: #ba5f16;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  .noShow {
    display: initial;
  }
  .animation {
  display: inline-block;
  width: 100%;
  box-xizing: border-box;
  text-align: center;
  padding: 10px;
  vertical-align: text-top;
  /*border: 1px solid black;*/
  
}
  .main-content {
    padding: 10px;
    margin-bottom: 100px;
  }
  .add-form {
    padding: 5px;
  }
  .main-content h2 {
    margin: 5px;
  }
  #add-category-form {
    padding: 3px;
  }
  
  .publicHeader {
    
    background-image: url(../img/wood.jpg);
    height: 75px;

  }
  .publicHeader h1 {
    font-family: 'Vidaloka', serif;
    /*line-height: 1vh;*/
    font-size: 25px;
    color: white;
    padding: 17px;
  }
  .product-page {
    padding: 15px 0px;
    background-color: #fff;
  }
  html,
  body {
    margin: 0;
    
  }
  body {
    width: 100%;
  }

  nav[role="custom-dropdown"] ul {
    display: none;
    /*height: 100%;*/
  }
  nav[role="custom-dropdown"] label {
    position: relative;
    display: block;
    width: 100%;
    min-height: 2.25em;
    padding: .45em;
    font-size: 1.1em;
    margin: 0;
    border: 0.15em solid rgba(60, 60, 60, 0.2);
    background-color: rgba(0, 0, 0, 0.85);
  }
  nav[role="custom-dropdown"] label:after {
    position: absolute;
    right: .25em;
    top: 0;
    content: "\2261";
    font-size: 1.8em;
  }
  nav[role="custom-dropdown"] input[type=checkbox]:checked ~ label:after {
    color: #fff;
  }
  nav[role="custom-dropdown"] input[type=checkbox]:checked ~ ul {
    display: block;
  }
  nav[role="custom-dropdown"] input[type=checkbox]:checked ~ ul > li {
    width: 100%;
    opacity: .8;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.85);
  }
  nav[role="custom-dropdown"] input[type=checkbox]:checked ~ ul > li:after {
    position: absolute;
    right: .25em;
    content: "\203A";
    font: bold 1.4em sans-serif;
  }

  footer {
    /*position: absolute;*/
    bottom: 0;
    background-color: tan;
    /*width: 80%;*/
    border-radius: 0 0 15px 15px;
    height: 100px;
  }

  .prod {
    float: left;
    width: 100%;
    height: 100%;
    margin: 0 auto; 
  }
  .prod a {
    margin: 5px;

  }
  .prod a:link, .prod a:visited {
    background-color: #e9c09d;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    list-style-type: none;
  }

  .prod a:hover, .prod a:active {
      background-color: #ba5f16;
  }

  .prod li {
    list-style-type: none;
  }

  .product-page {
    overflow: auto;
    padding: 15px;
    background-color: #fff;
    
  }
  .product-page h2 {
    margin-left: 15px;
  }

  /*start table */
  table, thead, tbody, th, td, tr { 
    display: block; 
    
   
  }
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr {
    border: 1px solid #ccc;
  }
  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }
  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  table img {
    margin: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.38);
    -moz-box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.38);
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.45);
  }
  /*
  Label the table data
  */
  td:nth-of-type(1):before { 
    content: "Quantity";
    text-align: left; 
  }
  td:nth-of-type(2):before { 
    content: "Description";
    text-align: left;
  }
  td:nth-of-type(3):before { 
    content: "Price"; 
    text-align: left;
  }
  td:nth-of-type(4):before { 
    content: "Image"; 
    text-align: left;
  }

  .adminTable1 td:nth-of-type(1):before  {
    content: "Quantity";
    text-align: left; 
  }
  .adminTable1 td:nth-of-type(2):before  {
    content: "Name";
    text-align: left; 
  }
  .adminTable1 td:nth-of-type(3):before  {
    content: "Price ";
    text-align: left; 
  }
  .adminTable2 td:nth-of-type(1):before  {
    content: "ID";
    text-align: left; 
  }
  .adminTable2 td:nth-of-type(2):before  {
    content: "Quantity";
    text-align: left; 
  }
  .adminTable2 td:nth-of-type(3):before  {
    content: "Name";
    text-align: left; 
  }
  .adminTable2 td:nth-of-type(4):before  {
    content: "Price";
    text-align: left; 
  }
  .adminTable2 td:nth-of-type(5):before  {
    content: "Image";
    text-align: left; 
  }
  .adminTable2 td:nth-of-type(6):before  {
    content: "Image Alt Text";
    text-align: left; 
  }
  .adminTable2 td:nth-of-type(7):before  {
    content: " ";
    text-align: left; 
  }
}

/*end navbar styles*/




 