/* reset browser styles */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol { 
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em;
	list-style: square;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	font-family: 'Comfortaa', cursive;

} 

tr:nth-of-type(odd) {
	background: #CCCACA;
}

th {
	background: #333;
	color: white;
	font-weight: bold;
}

td, th {
	padding: 6px;
	border: 1px solid #ccc;
	text-align: left;
}


/* end reset browser styles */

.clear:after {
  content: " ";
  display: table;
  clear: both;
}

.clear {
	zoom: 1;	
	position: fixed;
	top: 0;
	width: 100%;
}

body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	
}


header {
	/*background-color:rgb(93,43,78); 
	background: url("img/wood.jpg") ;*/ 
	padding-bottom: 30px;
}

header h1 {
	font-family: 'Fredericka the Great', cursive;
	text-shadow: 3px 3px 6px black;
	font-size: 3em;	
	color: white;
	font-weight: bold;
	padding-top: 30px;
	clear: both;
	padding-left: 10px;
	display: inline-block;
}

nav {
	background-color: rgb(25,25,25);
	/*border: 1px solid rgba(255,255,255,.5);	*/
	border-left: none;
	border-right: none;
}
nav ul {
	padding: 0;
	margin: 0;	
}
nav li {
	float: left;
	padding: 0;
	margin: 0;
	list-style: none;
	color: white;	
}
nav a {
	float: left;
	font-size: .8em;	
	color: white;
	font-weight: normal;
	text-decoration: none;
	padding: 10px;
	/*border-right: 1px dashed rgba(255,255,255,.75);*/
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
nav li:last-of-type a {
	border-right: none;

}

nav a:hover {
	background-color: rgb(189,165,127);
}
.nav-admin-login {
	color: white;
	float: right;
	background-color: gray;
	padding: 10px;
	text-align: right;
	
}
.nav-admin-login form {
	float: right;
}
aside h2 {
	font-size: 1.3em;
	margin-top: 10px;	
}
aside h3 {
	font-size: 1.1em;
	margin-top: 15px;
}
aside p, aside li {
	font-size: .75em;
	margin-top: 10px;	
}
.main h2 {
	font-size: 2em;
	margin-top: 10px;
	font-family: 'Cinzel', serif;	
	width: 80%;
	margin: 10px auto;
	display: block;
  	padding-left: 24px;
  position: relative;
}
.main h3 {
	font-size: 1.5em;
	margin-top: 20px;	
}
.main p {
	margin-bottom: 15px;
	font-family: 'Comfortaa', cursive;	
}
article.main{
	
	margin: 100px auto;
}
footer {
	margin-top: 15px;
	font-size: .8em;	
	padding: 10px 10px 30px 10px;
	background-color: black;
	color: rgb(204,204,204);
	position: fixed;
	bottom: 0px;
	width: 100%;
}
footer a {
	color: white;	
}
/* add tutorial styles below here */
* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
}

.columnWrapper {
	float: left;
	width: 80%;
}
.sidebar1 {
  	float: left;
 	width: 25%;
  	padding: 0 20px 0 10px;
}
.main {
  	/*float: right;*/
  	width: 75%;
  	padding: 0 20px;
  	/*border-left: dashed 1px rgb(153,153,153);*/
  	/*border-right: dashed 1px rgb(153,153,153);*/
  	
}
.sidebar2 {
  	float: right;
  	width: 20%;	
  	padding: 0 10px 0 20px;
}
footer {
  	clear: both;	
}
nav ul, header h1, footer p, .contentWrapper {
	max-width: 1200px;
	margin: 0 auto;	
}
img {
	max-width: 100%;	
}
img.half {
	max-width: 50%;	
}
img.left {
	float: left;
	margin: 0 10px 10px 0;
}
img.right {
	float: right;	
	margin: 0 0 10px 10px;
}

@media screen and (min-width: 481px) and (max-width:768px) {

	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	tr {
		border: 1px solid #ccc;
	}
	td {
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
	}
	td:before {
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}

	.productTable th, td {
		text-align: right;
	}

	/*
	Label the table data
	*/
	td:nth-of-type(1):before { 
		content: "Quantity";
		text-align: left; 
	}
	td:nth-of-type(2):before { 
		content: "Description";
		text-align: left;
	}
	td:nth-of-type(3):before { 
		content: "Price"; 
		text-align: left;
	}
	td:nth-of-type(4):before { 
		content: "Image"; 
		text-align: left;
	}

	.adminTable1 td:nth-of-type(1):before  {
		content: "Name";
		text-align: left; 
	}
	.adminTable1 td:nth-of-type(2):before  {
		content: "Price";
		text-align: left; 
	}
	.adminTable1 td:nth-of-type(3):before  {
		content: " ";
		text-align: left; 
	}
	.adminTable2 td:nth-of-type(1):before  {
		content: "ID";
		text-align: left; 
	}
	.adminTable2 td:nth-of-type(2):before  {
		content: "Quantity";
		text-align: left; 
	}
	.adminTable2 td:nth-of-type(3):before  {
		content: "Name";
		text-align: left; 
	}
	.adminTable2 td:nth-of-type(4):before  {
		content: "Price";
		text-align: left; 
	}
	.adminTable2 td:nth-of-type(5):before  {
		content: "Image";
		text-align: left; 
	}
	.adminTable2 td:nth-of-type(6):before  {
		content: "Image Alt Text";
		text-align: left; 
	}
	.adminTable2 td:nth-of-type(7):before  {
		content: " ";
		text-align: left; 
	}
	
	.sidebar2 {
	    float: none;
		width: auto;
		clear: both;
		border-top: 2px solid black;
		padding-top: 10px;
	}
	.columnWrapper {
		 width: auto;	  
	}
	.main {
		border-right: none; 
		margin-top: 200px; 
	}
	article.main {
		width: 90%;
		padding: 0;
		margin-top: 300px;
	}
}

@media screen and (max-width: 480px) {
	.productTable {
		width: 100% !important;
		margin: 0;
		padding: 0;
	}
	article.main {
		width: 100%;
		padding: 0;
		margin-top: 300px;
	}
	.columnWrapper, .sidebar1, .sidebar2 {
		float: none;
		width: auto;  
	} 	
	.main {
		border: none;
		padding-top: 100px;
	}
	.sidebar1, .sidebar2 {
		border-top: 2px solid black;
		margin-top: 25px;
		padding-top: 10px;
	}
	header h1 {
		font-size: 2.1em;  
	}
	nav {
		text-align: center; 
		margin-top: 0px; 
	}
	nav li {
		float: none;  
		display: inline-block;
	}
	nav a {
		float: none;  
		display: inline-block;
		border: none;
	}
	
	.indexHeader {
	position: fixed;
	z-index: 100;
	width: 100%;
	}

	/*table design */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	tr {
		border: 1px solid #ccc;
	}
	td {
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
	}
	td:before {
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}

	.productTable th, td {
		text-align: right;
	}

	/*
	Label the data
	*/
	td:nth-of-type(1):before { 
		content: "Quantity";
		text-align: left; 
	}
	td:nth-of-type(2):before { 
		content: "Description";
		text-align: left;
	}
	td:nth-of-type(3):before { 
		content: "Price"; 
		text-align: left;
	}
	td:nth-of-type(4):before { 
		content: "Image"; 
		text-align: left;
	}
	.adminTable1 td:nth-of-type(1):before  {
		content: "Name";
		text-align: left; 
	}
	.adminTable1 td:nth-of-type(2):before  {
		content: "Price";
		text-align: left; 
	}
	.adminTable1 td:nth-of-type(3):before  {
		content: " ";
		text-align: left; 
	}
	.adminTable2 td:nth-of-type(1):before  {
		content: "ID";
		text-align: left; 
	}
	.adminTable2 td:nth-of-type(2):before  {
		content: "Quantity";
		text-align: left; 
	}
	.adminTable2 td:nth-of-type(3):before  {
		content: "Name";
		text-align: left; 
	}
	.adminTable2 td:nth-of-type(4):before  {
		content: "Price";
		text-align: left; 
	}
	.adminTable2 td:nth-of-type(5):before  {
		content: "Image";
		text-align: left; 
	}
	.adminTable2 td:nth-of-type(6):before  {
		content: "Image Alt Text";
		text-align: left; 
	}
	.adminTable2 td:nth-of-type(7):before  {
		content: " ";
		text-align: left; 
	}
}

/*end max width 480*/

form {
    margin: 5px;
}

.error {
    color: red;
}

.product-table th, td {
	padding: 3px 8px;
	border: 1px solid black;
}

.product-table tr {
	border: 2px solid black;
	margin: 2px;
}

tbody {
	margin-bottom: 50px;
}

.productCategories h2 {
	width: 80%;
	margin: 10px auto;
	display: block;
  	padding-left: 24px;
  position: relative;
}

.productTable {
	width: 80%;
	margin: 0 auto 100px;

}
.productTable tr {
	margin: 10px;
}

td .productImage {
-webkit-box-shadow: 0px 0px 23px 3px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 23px 3px rgba(0,0,0,0.75);
box-shadow: 0px 0px 23px 3px rgba(0,0,0,0.75);
	margin: 10px ;
	border-radius: 5px;
}

.formInput label {
	background-color: tan;
	width: 200px;
	display: inline-block;
	padding: 3px;
	text-align: right;

}

.formInput select {
	margin: 5px;
	height: 25px;
}

.formInput input {
	height: 25px;
}

/*start of nav*/
.fixed {
  position: fixed;
  top: 0;
  overflow: hidden;
}

.menu {
  width: 80%;
  margin: 0 auto;
  display: block;
  /*background-color: #16a085;*/
  position: relative;

}

.menu li {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #C88D57;
  margin: 3px;

}

.menu a {
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 1.5em;
  text-decoration: none;
}

.indexHeader {
	position: fixed;
	z-index: 100;
	width: 100%;
}
 .indexHeader h1 {
 	display: none;
 }

.clear li {
	margin: 5px;
} 

.notIndexHeader {
	position: fixed;
	z-index: 100;
	width: 100%;
}

ul a{
    text-decoration: none;
    color: #FFF;
    text-align: left;
    background-color: #BCB8C2;
    padding: 10px 16px;
    border-radius: 2px;
    opacity: 0.8;
    font-size: 16px;
    display: inline-block;
    margin: 4px;
    line-height: 1;
    outline: none;

    transition: 0.2s ease;
}

tbody th {
	padding: 5px;
}

.nav-admin-login p {
	display: inline-block;
	margin: 5px;
}

.nav-admin-login form {
	display: inline-block;
	margin: 5px;
}

form#add_category_form label  {
	display: inline-block;
	width: 200px;
}

form#add_category_form input  {
	margin: 3px;
	width: 200px;
}